#menu {
  background-color: hsl(18, 30%, 17%);
}

body {
  background-image: linear-gradient(
    320deg,
    hsl(18, 30%, 17%) 0%,
    hsl(20, 60%, 30%) 90%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition-duration: 1s;
  box-sizing: content-box;
  height: 98%;
  width: 98%;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: none;
  margin: none;
  border: none;
  outline: none;

  > * {
    color: white;
    transition-duration: 1s;
  }
}

#seb {
  color: hsl(20, 92%, 54%);
  font-size: 7vh;
  font-family: Impact, Squada One, Tahoma, Bahnschrift, Arial, sans-serif;
}

#son {
  color: white;
  font-size: 7vh;
  font-family: Impact, Odibee Sans, Squada One, Tahoma, Bahnschrift, Arial,
    sans-serif;
}

#tk {
  color: rgb(30, 30, 30);
  font-size: 4.5vh;
  font-family: Impact, Squada One, Tahoma, Bahnschrift, Arial, sans-serif;
}

#sebsontk {
  border-bottom: solid 1vh white;
  border-left: solid 1vh white;
  padding: 1vh;
  padding-top: 0px;
  display: inline;
  margin-left: 30vw;
  margin-bottom: 3vh;
  transition-duration: 1s;
  text-decoration: none;
  animation-name: lr_motion;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#sticky {
  position: sticky;
  top: 0;
}

#tresc {
  background-color: rgba(235, 225, 220, 0.3);
  width: 50%;
  margin: auto;
  margin-top: 10vh;
  color: white;
  font-family: Bahnschrift, Tahoma, Arial, sans-serif;
  font-size: 2.5vh;
  text-align: center;
  padding: 4vh 3vw;
  border-top: solid 1vh hsl(20, 92%, 54%);

  a {
    font-size: 2.5vh;
    text-decoration: none;
    color: hsl(18, 30%, 17%);
    transition-duration: 1s;

    &:hover {
      text-decoration: none;
      color: hsl(20, 92%, 54%);
      font-size: 2.7vh;
      transition-duration: 1s;
    }
  }
}

header {
  margin: 3vh 0 2vh;
  color: white;
  font-family: Bahnschrift, Tahoma, Arial, sans-serif;
  font-size: 3.5vh;
  text-align: center;
  text-transform: uppercase;
}

#tiny_text {
  color: hsl(20, 60%, 30%);
  font-family: Bahnschrift, Tahoma, Arial, sans-serif;
  font-size: 2vh;
  text-align: right;
}

a {
  transition-duration: 0s;
  color: hsl(18, 30%, 17%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(18, 30%, 17%);
  transition-duration: 1s;

  a {
    background-color: hsla(18, 30%, 17%, 0.8);
    color: rgba(255, 255, 255, 0.7);
    font-size: 3vh;
    padding: 2.8vh;
  }
}

li {
  float: left;
  transition-duration: 1s;
}

li a,
.dropbtn {
  display: inline-block;
  font-size: 3.2vh;
  font-family: Tahoma, Odibee Sans, Squada One, Bahnschrift, Arial, Impact,
    sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: hsl(18, 30%, 27%);
  transition-duration: 1s;
}

li.dropdown {
  display: inline-block;
  transition-duration: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsla(0, 0%, 100%, 0);
  min-width: 7vw;
  max-width: 20vw;
  z-index: 1;
  transition-duration: 1s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

  a {
    color: rgba(0, 0, 0, 0.5);
    padding: 2vh;
    text-decoration: none;
    display: block;
    text-align: center;
    transition-duration: 1s;
    background-color: hsla(0, 0%, 100%, 0);
    font-size: 2.5vh;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.5);
      transition-duration: 1s;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 1s;
}

.button {
  color: hsl(18, 30%, 17%);
  background-color: hsl(20, 92%, 54%);
  padding: 1vh;
  font-family: Bahnschrift, Tahoma, Arial, sans-serif;
  font-size: 2vh;
  border: none;
  display: inline;
  margin: 0 1vw;
  transition-duration: 1s;
  border-top: solid 0.5vh hsl(18, 30%, 17%);

  &:hover {
    font-size: 2.5vh;
    transition-duration: 1s;
  }
}

.input {
  color: hsl(20, 92%, 54%);
  background-color: hsl(18, 30%, 17%);
  padding: 1vh;
  font-family: Bahnschrift, Tahoma, Arial, sans-serif;
  font-size: 2vh;
  border: none;
  display: inline;
  margin: 0 1vw;
  text-align: center;
  width: 12vw;
  border-top: solid 0.5vh hsl(20, 92%, 54%);
}

@keyframes lr_motion {
  0% {
    margin-left: 30vw;
  }
  50% {
    margin-left: 0vw;
  }
  100% {
    margin-left: 30vw;
  }
}

@keyframes lr_motion_less300 {
  0% {
    margin-left: 10vw;
  }
  50% {
    margin-left: 0vw;
  }
  100% {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 992px) {
  li a,
  .dropbtn {
    font-size: 1.8vh;
  }
  .dropdown-content {
    max-width: 18vw;
    overflow: hidden;
  }
  .dropdown-content a {
    font-size: 1.5vh;
    padding: 1vh;
  }
}

@media screen and (max-width: 600px) {
  li a,
  .dropbtn {
    font-size: 1vh;
  }
  .dropdown-content {
    max-width: 20vw;
    overflow: hidden;
  }
  .dropdown-content a {
    font-size: 0.8vh;
    padding: 1vh;
  }
  #seb,
  #son {
    font-size: 6vh;
  }
  #tk {
    font-size: 3.6vh;
  }
}

@media screen and (max-width: 400px) {
  #seb,
  #son {
    font-size: 5.5vh;
  }
  #tk {
    font-size: 3.2vh;
  }
  li a,
  .dropbtn {
    font-size: 0.8vh;
  }
  .dropdown-content {
    max-width: 20vw;
    overflow: hidden;
  }
  .dropdown-content a {
    font-size: 0.8vh;
    padding: 1vh;
  }
}

@media screen and (max-width: 345px) {
  #seb,
  #son {
    font-size: 3vh;
  }
  #tk {
    font-size: 2.4vh;
  }
  #sebsontk {
    border-bottom-width: 3px;
    border-left-width: 3px;
    padding: 0px;
    animation-name: lr_motion_less300;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  }
  header {
    font-size: 2vh;
  }
  * {
    font-size: 1vh;
  }
  #tresc a {
    font-size: 1vh;
  }
  #tresc a:hover {
    font-size: 1.1vh;
  }
  .button {
    font-size: 1vh;
  }
  .button:hover {
    font-size: 1.1vh;
  }
  .input {
    font-size: 1vh;
  }
  #tiny_text {
    font-size: 0.8vh;
  }
  li a,
  .dropbtn {
    font-size: 0.8vh;
  }
  .dropdown-content {
    max-width: 30vw;
    overflow: hidden;
  }
  .dropdown-content a {
    font-size: 0.9vh;
    padding: 1vh;
  }
}
