/* są jeszcze w komentarzach niewykorzystane animacje, możecie obczaić :D */

  body > * {color: white;}
  
  a {color: hsla(18,30%,17%,1);}
  
  #tresc a {font-size: 2.5vh;}
  
  ul a {background-color: hsla(18,30%,17%,0.8); color: rgba(255,255,255,0.7); font-size: 3vh;  padding: 2.8vh;}
  
  #menu {background-color: hsla(18,30%,17%,1);}

body > * {
	transition-duration: 1s;
}

#seb {
	color: hsla(20,92%,54%,1);
	font-size: 7vh;
	font-family: Impact, Squada One, Tahoma, Bahnschrift, Arial, sans-serif;
	/*animation-name: color_change;
	animation-duration: 220s;
	animation-iteration-count: infinite;*/
}


#son {
	color: white;
	font-size: 7vh;
	font-family: Impact, Odibee Sans, Squada One, Tahoma, Bahnschrift, Arial, sans-serif;
}

#tk {
	color: rgba(30,30,30,1);
	font-size: 4.5vh;
	font-family: Impact, Squada One, Tahoma, Bahnschrift, Arial, sans-serif;
}

#sebsontk {
	border-bottom: solid 1vh white;
	border-left: solid 1vh white;
	padding: 1vh;
	padding-top: 0px;
	display: inline;
	margin-left: 30vw;
	margin-bottom: 3vh;
	transition-duration: 1s;
	text-decoration: none;
	animation-name: lr_motion;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

#tresc {
	background-color: rgba(235,225,220,0.3);
	width:50%;
	margin: auto;
	margin-top: 10vh;
	color: white;
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 2.5vh;
	text-align: center;
	padding: 4vh 3vw;
	border-top: solid 1vh hsla(20,92%,54%,1);
	/*animation-name: bordercolor_change;
	animation-duration: 220s;
	animation-iteration-count: infinite;*/
}

#tresc a {
	text-decoration: none;
	color: hsla(18,30%,17%,1);
	transition-duration: 1s;
}

#tresc a:hover {
	text-decoration: none;
	color: hsla(20,92%,54%,1);
	font-size: 2.7vh;
	transition-duration: 1s;
}

header {
	margin: 3vh 0vw 2vh 0vw;
	color: white;
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 3.5vh;
	text-align: center;
	text-transform: uppercase;
}

#tiny_text {
	color: hsla(20,60%,30%,1);
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 2vh;
	text-align: right;
}

#sticky{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

h1 {
	
}

a {
	transition-duration: 0s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsla(18,30%,17%,1);
  transition-duration: 1s;
	/*animation-name: bgcolor_change;
	animation-duration: 220s;
	animation-iteration-count: infinite; */
}

li {
  float: left;
  transition-duration: 1s;
}

li a, .dropbtn {
  display: inline-block;
  font-size: 3.2vh;
  font-family: Tahoma, Odibee Sans, Squada One, Bahnschrift, Arial, Impact,sans-serif;
  text-transform: uppercase;
  color: white;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  transition-duration: 1s;
  cursor: pointer;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: hsla(18,30%,27%,1);
  transition-duration: 1s;
}

li.dropdown {
  display: inline-block;
  transition-duration: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsla(0,0%,100%,0.0);
  min-width: 7vw;
  max-width: 20vw;
  z-index: 1;
  transition-duration: 1s;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.1);
}

.dropdown-content a {
  color: rgba(0,0,0,0.5);
  padding: 2vh;
  text-decoration: none;
  display: block;
  text-align: center;
  transition-duration: 1s;
  background-color: hsla(0,0%,100%,0.0);
  font-size: 2.5vh;
}

.dropdown-content a:hover {
	background-color: hsla(0,0%,100%,0.5);
	transition-duration: 1s;
	color: rgba(0,0,0,0.8);
}

.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 1s;
}

.button {
	color: hsla(18,30%,17%,1);
	background-color: hsla(20,92%,54%,1);
	padding: 1vh;
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 2vh;
	border: none;
	display: inline;
	margin: 0vh 1vw;
	transition-duration: 1s;
	border-top: solid 0.5vh hsla(18,30%,17%,1);
}

.button:hover {
	font-size: 2.5vh;
	transition-duration: 1s;
}

.input {
	color: hsla(20,92%,54%,1);
	background-color: hsla(18,30%,17%,1);
	padding: 1vh;
	font-family: Bahnschrift, Tahoma, Arial, sans-serif;
	font-size: 2vh;
	border: none;
	display: inline;
	margin: 0vh 1vw;
	text-align: center;
	width: 12vw;
	border-top: solid 0.5vh hsla(20,92%,54%,1);
}

	@keyframes color_change {
0% {color: hsla(20,92%,54%,1);}
25% {color: hsla(30,92%,54%,1);}
30% {color: hsla(180,92%,54%,1);}
50% {color: hsla(185,92%,54%,1);}
55% {color: hsla(270,92%,54%,1);}
75% {color: hsla(275,92%,54%,1);}
80% {color: hsla(10,92%,54%,1);}
100% {color: hsla(20,92%,54%,1);}
}
	@keyframes bordercolor_change {
0% {border-color: hsla(20,92%,54%,1);} 
25% {border-color: hsla(30,92%,54%,1);}
30% {border-color: hsla(180,92%,54%,1);}
50% {border-color: hsla(185,92%,54%,1);}
55% {border-color: hsla(270,92%,54%,1);}
75% {border-color: hsla(275,92%,54%,1);}
80% {border-color: hsla(10,92%,54%,1);}
100% {border-color: hsla(20,92%,54%,1);}
}

	@keyframes bgcolor_change {
0% {background-color: hsla(18,30%,17%,1);}
25% {background-color: hsla(28,30%,17%,1);}
30% {background-color: hsla(178,30%,17%,1);}
50% {background-color: hsla(183,30%,17%,1);}
55% {background-color: hsla(268,30%,17%,1);}
75% {background-color: hsla(273,30%,17%,1);}
80% {background-color: hsla(8,30%,17%,1);}
100% {background-color: hsla(18,30%,17%,1);}
}

	@keyframes bgimage_change {
0% {background-image: linear-gradient( 320deg, hsla(18,30%,17%,1) 0%, hsla(20,60%,30%,1) 90%);}
25% {background-image: linear-gradient( 320deg, hsla(28,30%,17%,1) 0%, hsla(30,60%,30%,1) 90%);}
30% {background-image: linear-gradient( 320deg, hsla(178,30%,17%,1) 0%, hsla(180,60%,30%,1) 90%);}
50% {background-image: linear-gradient( 320deg, hsla(183,30%,17%,1) 0%, hsla(185,60%,30%,1) 90%);}
55% {background-image: linear-gradient( 320deg, hsla(268,30%,17%,1) 0%, hsla(270,60%,30%,1) 90%);}
75% {background-image: linear-gradient( 320deg, hsla(273,30%,17%,1) 0%, hsla(275,60%,30%,1) 90%);}
80% {background-image: linear-gradient( 320deg, hsla(8,30%,17%,1) 0%, hsla(10,60%,30%,1) 90%);}
100% {background-image: linear-gradient( 320deg, hsla(18,30%,17%,1) 0%, hsla(20,60%,30%,1) 90%);}
}
	@keyframes lr_motion {
0% {margin-left: 30vw;}
50% {margin-left: 0vw;}
100% {margin-left: 30vw;}
}

	@keyframes lr_motion_less300 {
0% {margin-left: 10vw;}
50% {margin-left: 0vw;}
100% {margin-left: 10vw;}
}

@media screen and (max-width: 992px) {
	/* test only xD: body {background-image: linear-gradient(blue, red);} */
	li a, .dropbtn {font-size: 1.8vh;}
	.dropdown-content {max-width: 18vw; overflow: hidden;}
	.dropdown-content a {font-size: 1.5vh; padding: 1vh;}
}

@media screen and (max-width: 600px) {
	/* test only xD: body {background-image: linear-gradient(green, black);}*/
	li a, .dropbtn {font-size: 1vh;}
	.dropdown-content {max-width: 20vw; overflow: hidden;}
	.dropdown-content a {font-size: 0.8vh; padding: 1vh;}
	#seb, #son {font-size: 6vh;}
	#tk {font-size: 3.6vh;}
}

@media screen and (max-width: 400px) {
	/* test only xD: body {background-image: linear-gradient(pink, white);}*/
	#seb, #son {font-size: 5.5vh;}
	#tk {font-size: 3.2vh;}
	li a, .dropbtn {font-size: 0.8vh;}
	.dropdown-content {max-width: 20vw; overflow: hidden;}
	.dropdown-content a {font-size: 0.8vh; padding: 1vh;}
}

@media screen and (max-width: 345px) {
	/* test only xD: body {background-image: linear-gradient(pink, white);}*/
	#seb, #son {font-size: 3vh;}
	#tk {font-size: 2.4vh;}
	#sebsontk {border-bottom-width: 3px; border-left-width: 3px; padding: 0px; animation-name: lr_motion_less300;
	animation-duration: 20s; animation-iteration-count: infinite;}
	header {font-size: 2vh;}
	* {font-size: 1vh;}
	#tresc a {font-size: 1vh;}
	#tresc a:hover {font-size: 1.1vh;}
	.button {font-size: 1vh;}
	.button:hover {font-size: 1.1vh;}
	.input {font-size: 1vh;}
	#tiny_text {font-size: 0.8vh;}
	li a, .dropbtn {font-size: 0.8vh;}
	.dropdown-content {max-width: 30vw; overflow: hidden;}
	.dropdown-content a {font-size: 0.9vh; padding: 1vh;}
}

/* @media screen and (max-height: 700px) {
	body {background-image: linear-gradient(pink, white);} 
	li a, .dropbtn {font-size: 1vh;}
	.dropdown-content {max-width: 20vw;}
	.dropdown-content a {font-size: 0.3vh;}
} */

body {
	background-image: linear-gradient( 320deg, hsla(18,30%,17%,1) 0%, hsla(20,60%,30%,1) 90%);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	box-sizing:content-box;
	height: 98%;
	width: 98%;
	position: absolute;
	top: 0%;
	left: 0%;
	padding: none;
	margin: none;
	border: none;
	outline: none;
	/*animation-name: bgimage_change;
	animation-duration: 220s;
	animation-iteration-count: infinite;*/
}