* {
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.menu {
  color:#e6e6e6;
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#b3b3b3;
  padding:8px;
  margin-top:7px;
  display:block;
  width:300px;
  height:40px;
  color:#666666;
  text-decoration:none;
}
.main {
  float:left;
  width:60%;
  padding:15px;
 }
.right {
  background-color:#b3b3b3;
  float:left;
  margin-top:7px;
  text-align:center;
  padding:15px;
}
h1 {
  color:#e6e6e6;
  background-color:#b3b3b3;
  text-align:center;
  padding: 37px;
  height: 120px;
  font-size:25px;
}
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}
body {
  font-family:Verdana;
  color:#666666;
}
#menu {
   overflow:auto;
}
#stopka {
  color:#e6e6e6;
  background-color:#b3b3b3;
  text-align:center;
  padding:10px;
  margin-top:7px;
}
.responsive {
  width: 100%;
  height: auto;
}
